[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glBinding"]
	path = external/glBinding
	url = https://github.com/cginternals/glbinding.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "external/yamlcpp"]
	path = external/yamlcpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
